* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  font-family: 'Roboto';
  height: 100vh;
  text-align: center;
  background-color: #f4faff;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  color: #171f46;
}

.description {
  color: #64748b;
}
